/* COMMON */
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    background-color: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}

li {
    list-style: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.more {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

dt strong {
    font-size: 20px;
    line-height: 50px;
}

.tab-menu {
    display: none;
}

/* 버리는 영역 */
h2 {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    line-height: 0;
    font-size: 1px;
    overflow: hidden;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
}

header>.inner {
    height: 160px;
}

header .logo {
    height: 61px;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
}
header .logo a{
    display: block;
}
.gnb{
    padding-top: 100px;
    text-align: center;
}
.gnb>ul{
    display: flex;
    justify-content: center;
}
.gnb>ul>li{
    width: 200px;
}
.gnb>ul>li>a{
    display: block;
    line-height: 30px;
    padding:15px 0;
    /* border-right: 1px solid #eee; */
}
.gnb>ul>li>a:hover {
    color: #4187a3;
}
.gnb ul:hover .sub_menu {
    background-color: #4a4a4a;
    display: block;
}

.gnb .sub_menu li:hover a{
    text-decoration: underline;
}
.gnb .sub_menu{
    display: block;
    text-align: left;
    padding: 30px 0 0 20px;
    height: 200px;
    color:#fff;
    display: none;
    border-right: 1px solid #656565;
}
.gnb li:hover>.sub_menu {
    background-color: #2b667a;
    display: block;
}
.gnb .sub_menu a {
    color:#fff;
    font-size: 14px;
    line-height: 30px;
}
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li:last-child {
    padding-top: 8px;
}

header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    padding: 11px 15px;
    display: block;
    font-size: 13px;
    color: #656565;
}

header .sub-menu ul.menu .lang {
    background-color: #084b68;
    color: #eee;
    padding: 2px 10px;
    border-radius: 20px;
    margin-left: 10px;
}
.gnb_M {
    display: none;
}
/* FOOTTER */
footer {
    width: 100%;
    padding: 30px 0;
}

footer .menu li {
    display: inline;
    line-height: 40px;
}

footer .menu li span {
    padding: 0 15px;
}

footer .menu li a {
    color: #555;
}

footer .info {
    width: 650px;
    font-size: 13px;
    color: #666;
}

footer .footerUtil {
    position: absolute;
    right: 0;
    top: 0;
}

footer .footerUtil select {
    width: 200px;
    padding: 5px;
    color: #666;
    font-size: 13px;
}

footer .inner_M {
    display: none;
}
