/* container */
.container{
    width: 100%;
    padding-top: 160px;
}
.content{
    width:1100px;
    margin: 0 auto;
}
.about{
    display: flex;
    padding-top: 10px;
}
.about .visual{
    width: 525px;
    margin-right: 10px;
    padding: 20px;
    float: left;
    background-color: #fff;
}
.about .visual dt{
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    color: #4187a3;
    line-height: 50px;
}
.about .visual dd {
    font-size: 14px;
}
.about .notice{
    position: relative;
    width: 525px;
    padding: 20px;
    float: left;
    font-size: 13px;
    background-color: #fff;
}
.about .notice dd{
    line-height: 30px;
}
.about .notice dd .date{
    position: absolute;
    right: 30px;
}
.about .notice dd a:hover {
    text-decoration: underline;
}
.main__more{
    margin-top: 10px;
    height: 500px;
}
.main__more .bxArea{
    margin-right: 10px;
    width: 505px;
    height: 460px;
    padding: 20px;
    background-color: #eee;
    position: relative;
    float: left;
}
.main__more .bxArea .nextBtn, .prevBtn{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
.main__more .bxArea .prevBtn {
    left: 5px;
}
.bxArea .swiper-container img{
    width: 100%;
}
.main__more .eventB, .conference {
    width: 505px;
    height: 205px;
    padding: 20px;
    background-color: #fff;
    float: left;
    position: relative;
}
.main__more .eventB dd {
    line-height: 40px;
}
.main__more .eventB .color {
    line-height: 25px;
    font-size: 13px;
    color:#084b68
}
.main__more .conference {
    margin-top: 10px;
}

.conference dd {
    padding: 10px;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.conference dd:last-child {
    border: none;
}
.quickMenu{
    margin-top: 10px;
}
.quickMenu ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.quickMenu ul>li{
    outline: 1px solid #fff;
}
.quickMenu .menu0{
    background-color: #1a417f;
}
.quickMenu .menu1 {
    background-color: #ed8636;
}
.quickMenu .menu2 {
    background-color: #038fa5;
}
.quickMenu .menu3 {
    background-color: #4b5971;
}

.banner{
    margin: 15px 0 15px;
    position: relative;
}
.banner .swiper-container {
    height: 50px;
    display: flex;
    justify-content: center;
}
.banner .swiper-slide{
    height: 50px;
    float: left;
    align-items: center;
    margin-left: 10px;
}
.banner .swiper-slide:hover {
    cursor: pointer;
}
.banner .swiper-slide img{
    height:  100%;
    width: 100%;
}
.banner .swiper-prev, .swiper-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    cursor: pointer;
}
.banner
.swiper-next {
    right: 0;
}
